<div class="container" class="center">

	<div class="tittle">
		<h4><strong>SPOT : </strong><%= @spot.spot_name %></h4>
		<p><%= attachment_image_tag @spot, :spot_image, size:"300x300", fallback: "no_image.jpg" %></p>
		<p><strong>CHAPTION</strong></br><%= @spot.caption %></p>
	</div>

	<% if @spot.user === current_user %>
		<%= link_to "Edit", edit_spot_path %> /
		<%= link_to "Delete", spot_path(@spot.id), method: :delete, "data-confirm" => "Are you Sure??" %>
	<% end %>

</div>