<!DOCTYPE html>
<html>

    <head>
        <title>Épeler</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    </head>

    <header align="left">
        <nav>
            <ul>
                <li><%= link_to "Top", root_path %></li>
                <li><%= link_to "About", home_about_path %></li>
                <li><%= link_to "Signup", new_user_registration_path %></li>
                <li><%= link_to "Login",  new_user_session_path %></li>
            </ul>
        </nav>
    </header><!-- /header -->

    <body>
        <%= yield %>
    </body>

    <footer  align="center">
        <p>© All rights reserved by Épeler</p>
    </footer>

</html>
