<!DOCTYPE html>
<html>

    <head>
        <title>bnb</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    </head>

    <header class="navbar">
        <div class="container">
            <nav class="nav navbar-nav navbar-left">
                <h3>bnb</h3>
            </nav>

            <nav>
                <% if user_signed_in? %>
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to "Top", root_path %></li>
                        <li><%= link_to "About", home_about_path %></li>
                        <li><%= link_to "Signout", destroy_user_session_path, method: :delete %></li>
                    </ul>
                <% else %>
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to "Top", root_path %></li>
                        <li><%= link_to "About", home_about_path %></li>
                        <li><%= link_to "Signup", new_user_registration_path %></li>
                        <li><%= link_to "Login",  new_user_session_path %></li>
                    </ul>
                <% end %>
            </nav>
        </div>
    </header><!-- /header -->

    <body>
        <%= yield %>
    </body>

    <footer  align="center">
        <p>© All rights reserved by me</p>
    </footer>

</html>
